<!doctype html>
<html class="no-js" lang="en">
{% include 'base/head.html' %}

<body>
    <main class="main-content is-centered">
        <!-- Filler: Reached The Top -->
        {% include 'components/fillers/reached-the-top.html' %}

        <!-- Filler: Tetris Game -->
        {% include 'components/fillers/tetris-game.html' %}

        <!-- ##### Floor 4: Contact ##### -->
        {% include 'components/main/contact.html' %}

        <!-- Filler: Moaning -->
        {% include 'components/fillers/dad-joke.html' %}

        <!-- ##### Floor 3: Work ##### -->
        {% include 'components/main/work.html' %}

        <!-- Filler: Big Shaq -->
        {% include 'components/fillers/big-shaq.html' %}

        <!-- ##### Floor 2: About Me ##### -->
        {% include 'components/main/about-me.html' %}

        <!-- Filler: Random Cats -->
        {% include 'components/fillers/random-cats.html' %}

        <!-- ##### Floor 1: Intro ##### -->
        {% include 'components/main/intro.html' %}
    </main>

    {% include 'components/misc/elevator-pitch.html' %}
    {% include 'components/misc/audio.html' %}

    <div class="overlay"></div>
</body>