/******************************
* Animations
******************************/
// Used for heading 1
@keyframes font-flip {
    15%     { font-family: Georgia, serif; }
    30%     { font-family: Comic Sans MS, serif; }
    45%     { font-family: Times New Roman, sans-serif; }
    60%     { font-family: Arial, serif; }
    75%     { font-family: Georgia, sans-serif; }
    90%     { font-family: Tahoma, serif; }
    100%    { font-family: Calibri, sans-serif; }
}

// Used for buttons
@keyframes bgcolour-flip {
    20% { background-color: blue; }
    40% { background-color: yellow; }
    60% { background-color: orange; }
    80% { background-color: green; }
    100% { background-color: $color-pink; }
}

// Used for label
@keyframes keep-rotating {
    50%     { transform: rotate(225deg) }
    100%    { transform: rotate(360deg); background-color: $color-white; color: #ff0090; }
}

// Used for NSFW items (is inactive now!)
//@keyframes border-flip {
//    15% { border-color: blue; }
//    30% { border-color: purple; }
//    45% { border-color: orange; }
//    60% { border-color: green; }
//    75% { border-color: purple; }
//    90% { border-color: $color-pink; }
//}
