<!-- Elevator ends sound `dinggggg` -->
<audio id="sound-ding" hidden preload>
    <source src="sounds/ding.mp3" type="audio/mpeg">
</audio>

<!-- Big Shaq -->
<audio id="sound-skrrra" hidden preload>
    <source src="sounds/skrrra.mp3" type="audio/mpeg">
</audio>

<audio id="sound-papakakaka" hidden preload>
    <source src="sounds/papakakaka.mp3" type="audio/mpeg">
</audio>

<audio id="sound-skibiki" hidden preload>
    <source src="sounds/skibiki.mp3" type="audio/mpeg">
</audio>

<audio id="sound-andapoopoo" hidden preload>
    <source src="sounds/andapoopoo.mp3" type="audio/mpeg">
</audio>

<!-- Moans -->
<audio id="sound-moan1" hidden preload>
    <source src="sounds/moan1.mp3" type="audio/mpeg">
</audio>

<audio id="sound-moan2" hidden preload>
    <source src="sounds/moan2.mp3" type="audio/mpeg">
</audio>

<audio id="sound-moan3" hidden preload>
    <source src="sounds/moan3.mp3" type="audio/mpeg">
</audio>

<audio id="sound-moan4" hidden preload>
    <source src="sounds/moan4.mp3" type="audio/mpeg">
</audio>

<!-- Misc -->
<audio id="sound-meow" hidden preload>
    <source src="sounds/meow.mp3" type="audio/mpeg">
</audio>

<audio id="sound-rocky" hidden preload>
    <source src="sounds/rocky.mp3" type="audio/mpeg">
</audio>

<audio id="sound-so-long" hidden preload>
    <source src="sounds/so-long.mp3" type="audio/mpeg">
</audio>