/******************************
* Reset / default styles
******************************/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

* {
    box-sizing: border-box;
}

html {
    @include breakpoint(0px 1024px, 'from-to') {
        margin: 10px;
    }
}

body {
    margin: 0;
    background: $gray-light;
    cursor: url(../images/rsz_cursor-cool.png) 70 60,pointer;
    font-family: 'Space Mono', Arial, sans-serif;
    font-size: 15px;
    line-height: 23px;

    @include breakpoint(0px 767px, 'from-to') {
        font-size: 13px;
    }
}

img {
    max-width: 100%;
    height: auto;
    cursor: url(../images/rsz_cursor-eyes.png) 4 12, pointer;
}

.side-gif {
    background-image: url(../images/coding.gif);
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 55%;
    width: 100%;
}

.clear-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.overlay {
    background-color: $bg-purple-base;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9839043434;
}

.floor-label {
    cursor: help;
    position: absolute;
    right: -22px;
    top: -10px;
    background: $bg-purple-base;
    color: $color-white;
    transform: rotate(5deg);

    @include breakpoint(0px 1023px, 'from-to') {
        right: 0;
    }
}

.floor-name {
    display: inline-block;

    @include breakpoint(0px 1023px, 'from-to') {
        font-size: 14px;
    }

    &:hover {
        animation: keep-rotating 1s infinite;
    }
}

.elevator-pitch {
    cursor: url(../images/rsz_tie.png) 4 12, pointer;
    position: fixed;
    right: 25px;
    bottom: 25px;
    text-align: center;

    @include breakpoint(1366px, 'to') {
        display: none;
    }
}