/******************************
* Reset / default styles
******************************/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

* {
    box-sizing: border-box;
}

html {
    @include breakpoint(0px 1024px, 'from-to') {
        margin: 10px;
    }
}

body {
    margin: 0;
    cursor: url(../images/rsz_cursor-cool.png) 70 60,pointer;
    font-family: $font-stack-monospace;
    font-size: $font-size-default;
    line-height: $line-height-default;

    @include rainbowBg();
    @include breakpoint(0px 767px, 'from-to') {
        font-size: 13px;
    }
}

img {
    max-width: 100%;
    height: auto;
    cursor: url(../images/rsz_cursor-eyes.png) 4 12, pointer;
}
