/******************************
* Typography
******************************/
h1, h2, h3, p, ul {
    transition: all .25s;
}

h1, h2, h3 {
    &:hover {
        cursor: default;
    }
}

h1 {
    font-family: $font-stack-roboto;
    font-size: 2em;
    color: $color-white;
    display: inline-block;
    background: blue;
    margin: 0 0 30px 0;
    line-height: 32px;
    position: relative;

    &:hover {
        animation: font-flip 1s infinite;
    }

    @include breakpoint(0px 767px, 'from-to') {
        margin-top: 25px;
        font-size: $font-size-h1;
        left: -10px;
        top: -15px;
    }

    @include breakpoint(768px 1024px, 'from-to') {
        top: 0;
        left: 0;
        margin-bottom: 30px;
    }

    &.h1--cleared {
        left: auto;
    }
}

h2 {
    font-size: 18px;
    margin: 20px 0 5px 0;
    padding-bottom: 1px;
}

p {
    font-family: $font-stack-monospace;
    margin: 0 0 20px 20px;
    transition: all 0.25s;

    @include breakpoint(0px 480px, 'from-to') {
        margin-left: 5px;
    }

    @include breakpoint(481px 1024px, 'from-to') {
        margin-right: 20px;
    }

    &.text--small {
        font-size: 12px;
    }
}