<!-- FILLER -->
<article id="filler2" class="article is-filler">
    <main class="article__main">
        <div class="article__text is-centered">
            <span class="floor-label"><span class="floor-name">man's not hot</span></span>

            <h1 class="h1--cleared">big shaq, the ting goes how?</h1>
            <p class="js-trigger-sound btn--sound is-song" data-sound="skrrra">&#9836; skrrrrah &#9836;</p>
            <p class="js-trigger-sound btn--sound is-song" data-sound="papakakaka">&#9836; pa pa, ka ka ka &#9836;</p>
            <p class="js-trigger-sound btn--sound is-song" data-sound="skibiki">&#9836; skibiki pa pa &#9836;</p>
            <p class="js-trigger-sound btn--sound is-song" data-sound="andapoopoo">&#9836; and a poo poo turrru boom &#9836;</p>
        </div>
    </main>
</article>