<!-- FILLER -->
<article id="filler3" class="article is-filler">
    <main class="article__main">
        <div class="article__text is-centered">
            <span class="floor-label"><span class="floor-name">NSFW</span></span>

            <h1 class="h1--cleared">emily, what are you doing?</h1>
            <div class="nsfw">
                <ul class="nsfw__list">
                    <li class="nsfw__item js-trigger-sound" data-sound="moan1">NSFW</li>
                    <li class="nsfw__item js-trigger-sound" data-sound="moan2">NSFW</li>
                    <li class="nsfw__item js-trigger-trap">NSFW</li>
                    <li class="nsfw__item js-trigger-sound" data-sound="moan4">NSFW</li>
                </ul>
            </div>
        </div>
    </main>
</article>