<!-- FILLER -->
<article id="filler1" class="article is-filler">
    <main class="article__main">
        <div class="article__text is-centered">
            <span class="floor-label"><span class="floor-name">meooooow</span></span>

            <h1 class="h1--cleared">juan, what am i seeing?</h1>
            <p><strong>cats.</strong> &#10084; just some random cats.</p>
            <img alt="random cats" class="js-trigger-sound" data-sound="meow" src="images/random-cats.jpg" />
        </div>
    </main>
</article>