<!-- FILLER -->
<article id="filler6" class="article is-filler is-top" >
    <main class="article__main js-trigger-sound" data-sound="rocky">
        <div class="article__text is-centered">
            <span class="floor-label"><span class="floor-name">such a champion</span></span>

            <h1 class="h1--cleared">jackson, you have f&#*! made it to the top</h1>
            <p>Congrats, sweet tits.</p>
            <!-- TODO: <p>press <strong>b</strong> for celebration time</p>-->
        </div>
    </main>
</article>