<!-- FILLER -->
<article id="filler5" class="article is-filler">
    <main class="article__main">
        <div class="article__text is-centered">
            <span class="floor-label"><span class="floor-name">i want to play a game</span></span>

            <h1 class="h1--cleared">anna, wanna play?</h1>

            <p>Use <strong>WASD</strong> or <strong>ARROW KEYS</strong>. </p>
            <p>Highest score is <strong>80.000</strong>, motherf@*#r!</p>

            <div class="game"></div>
        </div>
    </main>
</article>