<!-- FLOOR 2: ABOUT ME -->
<article id="floor2" class="article is-floor">
    <main class="article__main has-related-things">
        <div class="article__text">
            <span class="floor-label">floor 2 <span class="floor-name">the dude</span></span>

            <h1>eric, who is this dude?</h1>
            <p>
                Yo! Boom! It's <strong>Bilal</strong>, B., Billy, Fatty boom boom, etc. I like chocolate.
                I like <span class="js-trigger-gif btn--gif" data-gif="food">food</span>, basically.
                Other than that, I like spending time on the internetz, watching movies, tv shows, football and cricket matches.
                Nowadays, trust me or not, I'm trying to spend some time in the <span class="js-trigger-gif btn--gif" data-gif="gym">gym</span> - although, mostly, it's just a train of thought.
            </p>

            <p>Truthfully, I just think that <span class="js-trigger-gif btn--gif" data-gif="trying-new-shit">learning new things</span> is essential,
                because trying and failing is (almost always) a guaranteed learning experience.
                That being said, I like setting the bar high, and <span class="js-trigger-gif btn--gif" data-gif="risky">taking risks</span>.
            </p>

            <p>
                Most people think of me as a relaxed guy. I'll have a laugh at what not. Pretty crazy. <span class="js-trigger-gif btn--gif" data-gif="blablabla">Blablabla</span>. Naturally, people tend to go by first appearance,
                and I have a somewhat static/neutral face expression, but that's all lies man.
                I think I'm easy to go with, hard-working, but still helpful to others. I love <span class="js-trigger-gif btn--gif" data-gif="crazy-prank">silly pranks</span> and jokes.
                Sometimes I'm a bit busy and sometimes, well, I have migraine. By the way, these are loads of "I's".
                Sigh, I don't know, I don't like talking about myself, it's a bit <span class="js-trigger-gif btn--gif" data-gif="awkward">awkward</span>, don't you think?
            </p>
        </div>

        <aside class="article__related-things">
            <div class="side-gif"></div>

            <ul class="related-links__list clear-list">
                <li><a href="#" class="btn--action" data-jumpto="floor4">contact details</a></li>
                <li><a href="https://www.facebook.com/bilal10hussain" class="btn--action">facebook</a></li>
            </ul>
        </aside>

        <div class="btn-container">
            <a href="#" class="btn--round btn--jump-to" data-jumpto="floor3">
                <i class="material-icons">arrow_drop_up</i>
            </a>
            <a href="#" class="btn--round btn--jump-to" data-jumpto="floor1">
                <i class="material-icons">arrow_drop_down</i>
            </a>
        </div>
    </main>
</article>