<!-- FLOOR 4: CONTACT -->
<article id="floor4" class="article is-floor">
    <main class="article__main has-related-things">
        <div class="article__text">
            <span class="floor-label">floor 4 <span class="floor-name">contact details</span></span>

            <h1>charlie, i need this guy</h1>
            <p>Alright, you can find me on <a href="https://www.facebook.com/bilal10hussain" target="_blank">Facebook</a>, </p>
            <p><a href="https://www.linkedin.com/in/bilal10hussain/">LinkedIn</a> is ok too,</p>
            <p><span class="js-trigger-gif js-trigger-sound btn--gif" data-sound="so-long" data-gif="so-long">So long!</span></p>
            <br/>
            <br/>
            <p class="text--small text--original">PS. E-mail address? <span class="text--revealed">wtf.bilal@bilal.wtf</span></p>
        </div>

        <aside class="article__related-things">
            <div class="side-gif"></div>
        </aside>

        <div class="btn-container">
            <a href="#" class="btn--round btn--jump-to" data-jumpto="floor3">
                <i class="material-icons">arrow_drop_down</i>
            </a>
        </div>
    </main>
</article>