<!-- FLOOR 1: INTRO -->
<article id="floor1" class="article js-is-first-floor is-floor">
    <header class="article__header">
        <img alt="Bunkers del Carmel, Barcelona" class="img__bunkers" src="images/bunkersdelcarmel.jpg" />
    </header>
    <main class="article__main has-header">
        <div class="article__text">
            <span class="floor-label">floor 1 <span class="floor-name">reception</span></span>

            <h1>jack, where the heck am i?</h1>
            <p>Hello, you've just entered the <strong>Bilal elevator</strong>.</p>

            <p>My name is Billy. I like to make websites (front-end though) and web apps, and I also have a passion for creative, user-centred websites. And food.</p>

            <p>Anyway, you have the following options:</p>
            <ul>
                <li>Press the button <i class="material-icons">arrow_drop_up</i> to go to the first floor</li>
                <li><span class="text--big-devices">Scroll up</span> <span class="text--small-devices">Swipe down</span></li>
                <li>Buy me chocomel and we could be best friends</li>
            </ul>

            <p class="text--big-devices">
                <strong>BIG TIP from David</strong>: This website uses sounds and gifs, so <strong>turn up the volume</strong> and keep moving your mouse to discover things.</p>
        </div>

        <div class="btn-container">
            <a href="#" class="btn--round btn--jump-to" data-jumpto="floor2">
                <i class="material-icons">arrow_drop_up</i>
            </a>
        </div>
    </main>
</article>