<!-- FLOOR 3: WORK -->
<article id="floor3" class="article is-floor">
    <main class="article__main">
        <div class="article__text">
            <span class="floor-label">floor 3 <span class="floor-name">work etc.</span></span>

            <h1>sophia, could he show us something?</h1>
            <p>Yeah, kinda!</p>

            <h2>[2017 - 2018] <strong>Coop Supermarkten</strong></h2>
            <p>Working on a store selector right now. Worked on `Kerstbestelservice`. Learned a thing or two about jQuery, AJAX calls, REST API's, Pattern Lab, Mustache, Angular4/5, ES6, TypeScript</p>

            <h2>[2016 - 2017] <strong>Wolters Kluwer NL/UK</strong></h2>
            <p>Worked primarily on bug fixing and implementing additional features. Learned a thing or two about Gulp, swig, JavaScript OOP, Promises, Scrum, Git, Gitflow Workflow, Bitbucket, JIRA, Confluence</p>

            <h2>[2012 - 2016] <strong>Communication &amp; Multimedia Design</strong></h2>
            <p>&#64; The Hague University <br/>
                Studied Interaction/User Experience Design. Did some minors: Computer Science, Innovation &amp; Interpreneurueurship, UX Design.
                My thesis was all about making the web fun for blind people. Ha, you didn't see that one coming, did you??? </p>

            <h2>Personal projects</h2>
            <ul>
                <li><a href="http://bilal.wtf/projects/ng-quiz/">3 questions sports quiz in Angular</a> | <a href="https://github.com/misfitb10/quiz-test">GitHub repo</a></li>
                <li><a href="https://github.com/misfitb10/personal-website">This website (GitHub repo)</a></li>
                <li><a href="https://www.sinthujan.nl">Sinthujan.nl</a> | <a href="https://github.com/misfitb10/sinthujan.nl">GitHub repo</a></li>
                <li>StinkedIn (in progress)</li>
                <li>FacePoop (in progress)</li>
                <li><a href="https://github.com/misfitb10/angular-what-trump-says">What Trump Says (GitHub repo)</a></li>
                <li><a href="/projects/js-chuck-norris/">Chuck Norris quotes</a> | <a href="https://github.com/misfitb10/js-chuck-norris">GitHub repo</a></li>
                <li><a href="/projects/90s/">Personal website 90's style</a></li>
            </ul>

            <br/>

            <p>Yep, that's it for now...</p>

            <p>
                <a href="#" class="btn--cta" data-jumpto="floor4">Contact for more info</a> or check out my <a href="https://github.com/misfitb10/">GitHub</a>!
            </p>
        </div>
        <div class="btn-container">
            <a href="#" class="btn--round btn--jump-to" data-jumpto="floor4">
                <i class="material-icons">arrow_drop_up</i>
            </a>
            <a href="#" class="btn--round btn--jump-to" data-jumpto="floor2">
                <i class="material-icons">arrow_drop_down</i>
            </a>
        </div>
    </main>
</article>